

//$crna: #181920;
$crna: #000;
$tamno-plava: #282a35;
$crvena: #ff0000;
// $zelena: #04aa6d;
$zelena: #18d26e;
$tamno-siva: #dedede4d;
$siva: #e7e9eb;

/*
$font-family-headlines: "Fira Sans", sans-serif;
$font-family-all: "Noto Sans", sans-serif;
*/

$font-family-headlines: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe Nue', Roboto, Oxygen, Ubuntu;
$font-family-all: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe Nue', Roboto, Oxygen, Ubuntu;

$small-shadow: 1px 1px 3px rgba(0, 0, 0, .3);


$margin-bottom-headline: 2rem;
$margin-bottom-all: 1.5rem;

$padding-top-bottom-section: 3rem 0;

$max-width: 1100px;